Airlines.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Airlines">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Airline" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element name="Reservation">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Phone"/>
                                        <xs:element type="xs:string" name="Url"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Headquarter">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="City"/>
                                        <xs:element type="xs:string" name="State"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:int" name="zip" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Alliance"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="InternationalFlight" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
